:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--stack-gap-spacious);
}
