name: Test

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-app:
    runs-on: ubuntu-latest

    name: Test app

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Test linting
        run: npm run test:linting

      - name: Test types
        run: npm run test:types

      - name: Run unit tests
        run: npm run test:unit
