name: Build prerelease app
run-name: ${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      platform:
        description: Platform to build
        required: true
        default: macos-latest
        type: choice
        options:
          - macos-latest
          - windows-latest
          - ubuntu-latest

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  pull-requests: write
  contents: write

jobs:
  pre-release:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(format('["{0}"]', inputs.platform)) }}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run make
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: prerelease-${{ matrix.os }}
          path: out/make/
          retention-days: 1
