name: Build prerelease app
run-name: Build prerelease app (${{ inputs.platform }})

on:
  workflow_dispatch:
    inputs:
      platform:
        description: Platform to build
        required: true
        default: windows-latest
        type: choice
        options:
          - windows-latest
          - macos-latest
          - ubuntu-latest

jobs:
  pre-release:
    runs-on: ${{ fromJSON(format('["{0}"]', inputs.platform)) }}

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run make
        env:
          NODE_ENV: CI
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: prerelease-${{ inputs.platform }}
          path: out/make/
          retention-days: 1
