name: Create app release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  pull-requests: write
  contents: write

jobs:
  release-app:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          token: ${{ secrets.PUBLISH_GITHUB_TOKEN }}

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: app/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Create release pull request
        uses: changesets/action@v1.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_GITHUB_TOKEN }}
        with:
          cwd: ./app
          title: Release
          version: npm run changesets:version
          publish: npm run changesets:tag
